<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="wrapper">
            <nav id="sidebar" class="text-center">
                <div class="sidebar-header text-center mt-3 mb-3">
                    <img class="w-25 h-25 float-left" src="img/logo.png" alt="">
                    <h4 class="font-weight-bold"> TimeManager v1.0.0 </h4>
                </div>

                <div>
                    <% sidebarComponent.forEach(function(element){ %>
                        <div class="sidebar-component mt-3 mb-3 pt-3 pb-3 text-center">
                            <%- element %>
                        </div>
                    <% }); %>
                </div>
            </nav>

            <div id="content">

            </div>
        </div>
    </body>
</html>
