<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('ejs/resource') %>
        <title> Sign up </title>
    </head>
    <body class="bg-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="text-center mt-3 mb-3">
                        <img src="/img/logo.png" alt="Logo" class="rounded float-center w-25 h-25">
                    </div>
                    <div class="text-center mt-3 mb-3">
                        <h3>Sign up to <%- APP_NAME %></h3>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-3 border rounded bg-white">
                    <form class="pt-3 pb-3" action="/signup" method="post">
                        <div class="form-group">
                            <label class="font-weight-bold" for="username">Username</label>
                            <input class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <%- include('ejs/loginAlert') %>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
                        </div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
            <div class="row mt-3">
                <div class="col"></div>
                <div class="col-3 border rounded bg-white">
                    <div class="pt-3 pb-3 text-center">
                        Already have an account? Sign in <a href="/signin">here</a>.
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <%- include('ejs/footer') %>
    </body>
</html>
