.wrapper{
    display: flex;
    width: 100%;
}

.sidebar{
    height: 100vh;
    background: #2f4252;
    color: #fff;
}

.sidebar-header{
    background: #18344d;
}

.sidebar-header:hover{
    background-color: #5dc27b;
}

.sidebar-component{
    background: #18344d;
}

.sidebar-component:hover{
    background-color: #5dc27b;
}

.topnavbar{
    background: #2f4252;
    color: #fff;
}

.full-height{
    height: 100vh;
}

#content{
    width: 100%;
}
