.wrapper{
    display: flex;
    width: 100%;
}

.fill-viewport-height{
    height: 80vh;
}

.fill-height {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.sidebar{
    height: 100vh;
    background: #2f4252;
    color: #fff;
}

.sidebar-header{
    background: #18344d;
}

.sidebar-header:hover{
    background-color: #5dc27b;
}

.sidebar-component{
    background: #18344d;
}

.sidebar-component:hover{
    background-color: #5dc27b;
}

.topnavbar{
    background: #2f4252;
    color: #fff;
}

.list-group{
    overflow-y: auto;
}

.fill-viewport-height-2{
    height: 70vh;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

#content{
    width: 100%;
}
